In [65]:
import pandas as pd
import numpy as np

data = {
'size': [ 'S', 'M', 'L', 'XL','S','M', 'L'],
'color': ['blue','green', 'red','purpleHaze', np.nan, np.nan,'blue'],
'gender': ['male', 'female','male','male', np.nan, np.nan,'male'],
'price': [500, 79,125,1000,20, np.nan, np.nan],
'weight': [380, 410,300,666,222, np.nan,323],
'bought': ['no','yes','no','yes', np.nan,'no','yes']
}

df_raw = pd.DataFrame(data=data)
df = df_raw.copy()


# Ad 1
to_remove = []
for i in range(len(df.index)) :
   if df.iloc[i].isnull().sum() > 2:
     to_remove.append(i)

df=df.drop(to_remove)
print(df)

# Ad 2
print('\n')
df2 = df_raw.copy()
df2['price'].fillna(df2['price'].mean(), inplace=True)
print(df2)

# Ad 3
print('\n')
df2['weight'].interpolate(method='polynomial', order=2, inplace=True)
print(df2)

# AD4
print('\n')
df2['gender'].fillna('unisex', inplace=True)
df2['size'].fillna('M', inplace=True)
df2['color'].fillna('blue', inplace=True)
print(df2)

# Ad 5
print('\n')
df2['cost'] = pd.cut(df2['price'], bins=3, labels=["tanio","umiarkowanie","omijamDriftemBiede"])
# przy tym zadaniu musiałem trochę zmienić dane ponieważ cena 2137 zwayżała środkową klasę
print(df2)

# Ad 6
print('\n')
df2['bought'].replace(to_replace='no',value=False, inplace=True)
df2['bought'].replace(to_replace='yes',value=True, inplace=True)
df2['bought'].replace(to_replace=np.nan,value=False, inplace=True)
print(df2)


# Ad 7
msk = np.random.rand(len(df2)) < 0.75
train = df2[msk]
test = df2[~msk]
print('\n Train:')
print(train)
print('\n Test:')
print(test)

  size       color  gender   price  weight bought
0    S        blue    male   500.0   380.0     no
1    M       green  female    79.0   410.0    yes
2    L         red    male   125.0   300.0     no
3   XL  purpleHaze    male  1000.0   666.0    yes
6    L        blue    male     NaN   323.0    yes


  size       color  gender   price  weight bought
0    S        blue    male   500.0   380.0     no
1    M       green  female    79.0   410.0    yes
2    L         red    male   125.0   300.0     no
3   XL  purpleHaze    male  1000.0   666.0    yes
4    S         NaN     NaN    20.0   222.0    NaN
5    M         NaN     NaN   344.8     NaN     no
6    L        blue    male   344.8   323.0    yes


  size       color  gender   price      weight bought
0    S        blue    male   500.0  380.000000     no
1    M       green  female    79.0  410.000000    yes
2    L         red    male   125.0  300.000000     no
3   XL  purpleHaze    male  1000.0  666.000000    yes
4    S         NaN     NaN    20.0  222.000000    NaN
5    M         NaN     NaN   344.8   33.137558     no
6    L        blue    male   344.8  323.000000    yes


  size       color  gender   price      weight bought
0    S        blue    male   500.0  380.000000     no
1    M       green  female    79.0  410.000000    yes
2    L         red    male   125.0  300.000000     no
3   XL  purpleHaze    male  1000.0  666.000000    yes
4    S        blue  unisex    20.0  222.000000    NaN
5    M        blue  unisex   344.8   33.137558     no
6    L        blue    male   344.8  323.000000    yes


  size       color  gender   price      weight bought                cost
0    S        blue    male   500.0  380.000000     no        umiarkowanie
1    M       green  female    79.0  410.000000    yes               tanio
2    L         red    male   125.0  300.000000     no               tanio
3   XL  purpleHaze    male  1000.0  666.000000    yes  omijamDriftemBiede
4    S        blue  unisex    20.0  222.000000    NaN               tanio
5    M        blue  unisex   344.8   33.137558     no               tanio
6    L        blue    male   344.8  323.000000    yes               tanio


  size       color  gender   price      weight  bought                cost
0    S        blue    male   500.0  380.000000   False        umiarkowanie
1    M       green  female    79.0  410.000000    True               tanio
2    L         red    male   125.0  300.000000   False               tanio
3   XL  purpleHaze    male  1000.0  666.000000    True  omijamDriftemBiede
4    S        blue  unisex    20.0  222.000000   False               tanio
5    M        blue  unisex   344.8   33.137558   False               tanio
6    L        blue    male   344.8  323.000000    True               tanio

 Train:
  size       color  gender   price  weight  bought                cost
2    L         red    male   125.0   300.0   False               tanio
3   XL  purpleHaze    male  1000.0   666.0    True  omijamDriftemBiede
4    S        blue  unisex    20.0   222.0   False               tanio
6    L        blue    male   344.8   323.0    True               tanio

 Test:
  size  color  gender  price      weight  bought          cost
0    S   blue    male  500.0  380.000000   False  umiarkowanie
1    M  green  female   79.0  410.000000    True         tanio
5    M   blue  unisex  344.8   33.137558   False         tanio